/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * emove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * emove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * emove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Basic Page Attribute */

.pageFooter {
  color: grey;
  font-size: 15px;
  text-align: center;
}


/* Header */
#header {
    background: #f9f9f9;
    width: 100%;
    padding-right: 10em;
}

#header_image {
    display: block;
    margin-left: 5.5em;
    margin-right: 5.5em;
    background: #f9f9f9;
}

/* Nav-Bar */
nav {
    font-size: 1em;
    padding-left: 10em;
    text-align: left;
    text-transform: none;
    width: 100%;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    background-color: #9B0017;
    cursor: pointer;
    -webkit-transition: background-color 150ms ease;
    -moz-transition: background-color 150ms ease;
    -o-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
}

#current_page_ul {
    background-color: #9B0017;
}

/* Scrolling nav-bar */
.scroll-nav {
    z-index: 9999; 
    position: fixed; 
    left: 0; 
    top: 0 !important;
    width: 100%;
    background: #D50017;
    float: left;
    width: 300%;
}

#moving-content-pad {
    padding-bottom: 200px;
}

#nav > #right-header {
    float: relative; 
    font-size: 1.5em;
    color: #fff;
    }

#nav > #right-header > a {
    background:none;
    }

#right-header {
    display: none;
    border:none;
}

#right-header > img {
    border:none !important;
}

.basicPageWrapper {
    padding-left: 50px;
    max-width: 900px;
}

/* Expandable List */
#listContainer{
  margin-top:15px;
}

#expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}
#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}

/* Collapsed state for list element */
#expList .collapsed {
    background-image: url(../img/collapsed.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url(../img/expanded.png);
}
#expList {
    clear: both;
}

.listControl{
  margin-bottom: 15px;
}
.listControl a {
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    height: 1.5em;
    line-height: 1.5em;
    margin-right: 5px;
    padding: 4px 10px;
}
.listControl a:hover {
    background-color:#555555;
    color:#222222; 
    font-weight:normal;
}

/* Middle English Text Styles ****REMOVE .. in path to font on site*** */
@font-face {
    font-family: Junicode;
    font-weight:normal;
    font-style:normal;
    src: url("/fonts/Junicode.woff") format("woff"),
    url("/fonts/Junicode-Regular.eot") format("eot");
}

@font-face {
    font-family: Junicode;
    font-weight:bold;
    font-style:normal;
    src: url("/fonts/Junicode-Bold.woff") format("woff"),
    url("/fonts/Junicode-Bold.eot") format("eot");
}

@font-face {
    font-family:Junicode;
    font-weight:normal;
    font-style:italic;
    src: url("/fonts/Junicode-Italic.woff") format("woff"),
    url("/fonts/Junicode-Italic.eot") format("eot");
}

@font-face {
    font-family:Junicode;
    font-weight:bold;
    font-style:italic;
    src: url("/fonts/Junicode-BoldItalic.woff") format("woff"),
    url("/fonts/Junicode-BoldItalic.eot") format("eot");
}

#textContainer {
    font-family: Junicode;
}

#textContainer span {
    display: block;
    -webkit-transition:  500ms ease-in-out;
    -moz-transition:  500ms ease-in-out;
    -o-transition:  500ms ease-in-out;
    transition:  500ms ease-in-out;
}

#textContainer abbr {
  font-style: italic;
}

#textContainer .upperMarginlNote {
  padding-bottom: 15px;
}

.verseNumber {
    float: right;
    padding-left: 20px;
}

.folioNumber, .folioColumn {
    float: right;
    font-weight: bold;
}

/* Text Widget Menu Box */

#TextSelectorHeading {
  margin: 0px;
  margin-bottom: 0px;
}

#TextSelectorDirections {
  margin: 0px;
}

#displayButtonBox {
  padding-left: 65px;
  padding-bottom: 15px;
  padding-top: 15px;
}


/* Text Display Button */

.displayTextButton, .displayTextReset{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#007dc1;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: sans-serif;
  font-size:15px;
  font-weight:bold;
  padding:5px 13px;
  text-decoration:none;
}
.displayTextButton:hover, .displayTextReset:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
.displayTextButton:active, .displayTextReset:active {
  position:relative;
  top:1px;
}

/* Accordion Menu for Text Selection */

.menuContainer {
  padding: 10px;
  padding-left: 70px;
  width: 300px;
  float: left;
}

.menuContainer > header > h1 {
  margin-top: 0;
  border-bottom: 1px solid #afafaf;
}

div.bellow > input[type='checkbox'] {
  display: none;
}

div.bellow > label {
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    display: block;
    background-color: #D50017;
    border: 1px solid #d0d0d0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.bellow > label:hover {
  background-color: #9B0017;
}

div.bellow > input[type='checkbox']:checked + label {
  background-color: #9B0017;
  color: #fff;
}
div.bellow > div {
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
  max-height: 0;
  overflow: auto;
  padding: 0 10px;
}

div.bellow > input[type='checkbox']:checked ~ div {
  max-height: 500px;
}

/* Radio Buttons in Text Selector Widget */

input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[name=saintRadio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgba(0,0,0,1);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgba(184, 184, 184, 1),rgba(102, 102, 102, 1));
  background-image :     -ms-linear-gradient(rgba(184, 184, 184, 1),rgba(102, 102, 102, 1));
  background-image :      -o-linear-gradient(rgba(184, 184, 184, 1),rgba(102, 102, 102, 1));
  background-image : -webkit-linear-gradient(rgba(184, 184, 184, 1),rgba(102, 102, 102, 1));
  background-image :         linear-gradient(rgba(184, 184, 184, 1),rgba(102, 102, 102, 1));
}

/* Content Area for Texts to Appear (not the container in the ME texts themselves)*/

#contentAreaWrapper {
    padding-top: 50px;
    padding-bottom: 300px;
    padding-left: 400px;
}

#contentArea {
    float: left;
    width: 600px;
    min-height: 125px;
    border: 2px solid #a1a1a1;
    background: #FFF;
    border-radius: 25px;
    color: black;
    font-family: Junicode, serif;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
   
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#contentArea > h3 {
}

.clear { 
    clear: both;
    padding-top: 200px;
}


/* Responsive Sizes */
/* Tablet Lanscape Size */
@media only screen and (min-width: 959px) and (max-width: 1024px) {

#header {
    width: 100%;
    height: auto;
    padding-right: 5em;
}

#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding-left: 5em;
    text-align: left;
    text-transform: none;
    width: 100%;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: 1em;
    padding-left: 1em;
    text-decoration: none;
    color: #fff;
}

.one {
    width: 800px;
}

#onOff {
    width: 695px;
}

#printContainer {
    width: 780px;
}

#printContainer2 {
    width: 780px;
}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
#header {
    width: 100%;
    height: auto;
    padding: auto;
}
    
#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding: auto;
    padding-left: 1.5em;
    padding-right: 4em;
    width: 100%;
    text-align: left;
    text-transform: none;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: .75em;
    padding-left: .75em;
    text-decoration: none;
    color: #fff;
}

#wrapper {
    padding-left: 20px;
}

.one {
    width: 700px;
}

#onOff {
    width: 595px;
}

#printContainer {
    width: 680px;
}

#printContainer2 {
    width: 680px;
}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    
#header {
    width: 100%;
    height: auto;
    padding-right: 0;
}
    
#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding-left: 2em;
    text-align: left;
    text-transform: none;
    width: auto%;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: 2.5px;
    padding-left: 2.5px;
    text-decoration: none;
    color: #fff;
}

.one {
    width: 650px;
}

#onOff {
    width: 545px;
}

#printContainer {
    width: 630px;
}

#printContainer2 {
    width: 630px;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
#header {
    width: 100%;
    height: auto;
    padding-right: 0;
}
    
#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding-left: 2em;
    text-align: left;
    text-transform: none;
    width: auto%;
    background: #D50017;
}

nav > ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: .2em;
    padding-left: .2px;
    text-decoration: none;
    color: #fff;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
#header {
    width: 100%;
    height: auto;
    padding-right: 0;
}
    
#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding-left: 2em;
    text-align: left;
    text-transform: none;
    width: auto%;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: .2em;
    padding-left: .2em;
    text-decoration: none;
    color: #fff;
}

#wrapper{
    width: 100%;
    padding-left: 10px;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    
#header {
    display: none ;
}
    
#header_image {
    display: none;
}
    
#moble-header {
    text-align: center;
    font-size: 1.5em;
    color: black;
    display: block;
    font-weight: bold;
    font-variant: small-caps;
    width: 415px;
}

nav {
    font-size: 1em;
    padding-left: 0;
    text-align: center;
    text-transform: none;
    width: 415px;
    background: #D50017;
}

nav ul li {
    display: block;
    padding: 2px 5px;
    padding-right: 0px;
    text-decoration: none;
    color: #fff;
    border-width: 1px;
    border-color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#moble-header {
    text-align: center;
    font-size: 1.5em;
    color: black;
    display: block;
    font-weight: bold;
    font-variant: small-caps;
}

nav ul li:hover {
    background-color: #9B0017;
    cursor: pointer;
    -webkit-transition: background-color 150ms ease;
    -moz-transition: background-color 150ms ease;
    -o-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
}

#wrapper {
    width: 415px;
    padding: 0px;
}

#wrapper > h1 {
    text-align: center;
    font-size: 1.5em;
    line-height: 5px;
}

.one {
    width: 415px;
    padding: 0;
    background-color:#2e2e2e;
    -moz-border-radius: 4px;
    border-radius: 4px; 
}

.one > .tabs{
    height: 30px;
    padding-bottom: 20px;
    overflow: hidden;
}

.one > .tabs > ul{
    font: 1em;
    list-style:none;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
