/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * emove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * emove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * emove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Header */
#header {
    background: #f9f9f9;
    width: 100%;
    padding-right: 5.5em;
}

#header_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #f9f9f9;
}

/* Nav-Bar */
nav {
    font-size: 1.1em;
    padding-left: 5em;
    text-align: left;
    text-transform: none;
    width: 100%;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    background-color: #9B0017;
    cursor: pointer;
    -webkit-transition: background-color 150ms ease;
    -moz-transition: background-color 150ms ease;
    -o-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
}

#current_page_ul {
    background-color: #9B0017;
}

/* Scrolling nav-bar */
.scroll-nav {
    z-index: 9999; 
    position: fixed; 
    left: 0; 
    top: 0 !important;
    width: 100%;
    background: #D50017;
    float: left;
    width: 300%;
}

#moving-content-pad {
    padding-bottom: 200px;
}

#nav > #right-header {
    float: relative; 
    font-size: 1.5em;
    color: #fff;
    }

#nav > #right-header > a {
    background:none;
    }

#right-header {
    display: none;
    border:none;
}

#right-header > img {
    border:none !important;
}

#homeInfo {
    padding-left: 50px;
    max-width: 900px;
}

/* tabs */
#wrapper {
    width: 100%;
    padding-left: 70px;
}

#wrapper > h1 {
    color: black;
    text-align: left;
    margin:20px;
}

#wrapper > a {
    display: block;
    font-size: 1.2em;
    padding-top: 20px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.one {
    width: 1000px;
    padding: 10px;
    background-color: #2e2e2e;
    -moz-border-radius: 4px;
    border-radius: 4px; 
}

.one > .tabs {
    height: 30px;
    padding-bottom: 20px;
    overflow: hidden;
}

.one > .tabs > ul {
    font: 1em;
    list-style:none;
}

.one > .tabs > ul > li {
    margin: 0 2px 0 0;
    padding: 7px 10px;
    display: block;
    float: left;
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius:4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; 
    background: #C9C9C9; /* old browsers */
    background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}

.one > .tabs > ul > li:hover{
    background: #FFFFFF; /* old browsers */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
    cursor:pointer;
    color: #333;
}

.one > .tabs > ul > li.tabActiveHeader{
    background: #FFFFFF; /* old browsers */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
    cursor:pointer;
    color: #333;
}

.one > .tabscontent {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; 
    padding:10px 10px 25px;
    background: #FFFFFF; /* old browsers */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
    margin:0;
    color:#333;
}


/* Laser Printer Styles */

#onOff {
    border: 2px solid #a1a1a1;
    width: 890px;
    min-height: 175px;
    border-radius: 25px;
    padding: 30px 40px;
}

#printerMessages {
    float: left;
    vertical-align: top;
    border: 2px solid #a1a1a1;
    padding-top: 13px;
    padding-bottom: 40px;
    padding-left: 17px;
    background: black;
    width: 300px;
    max-height: 50px;
    border-radius: 25px;
    color: #0AE812;
    font-family: sans-serif;
    line-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#wifiPassword {
    margin-top: 12px;
    width: 50px;
}

#tonerLevel {
    margin-top: 12px;
    width: 50px;
}

h4 {
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
}

#printerButton {
    margin-top: 12px;
    margin-bottom:12px;
}

#printContainer {
    width: 975px;
    height: auto;
    vertical-align: top;
    border: 2px solid #a1a1a1;
    padding: 10px 10px; 
    background: #FFF;
    border-radius: 25px;
    color: black;
    font-family: Junicode, serif;
    line-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#printContainer2 {
    width: 975px;
    height: auto;
    vertical-align: top;
    border: 2px solid #a1a1a1;
    padding: 10px 10px; 
    background: #FFF;
    border-radius: 25px;
    color: black;
    font-family: Junicode, serif;
    line-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Responsive Sizes */
/* Tablet Lanscape Size */
@media only screen and (min-width: 959px) and (max-width: 1024px) {

#header {
    width: 100%;
    height: auto;
    padding-right: 5em;
}

#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding-left: 5em;
    text-align: left;
    text-transform: none;
    width: 100%;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: 1em;
    padding-left: 1em;
    text-decoration: none;
    color: #fff;
}

.one {
    width: 800px;
}

#onOff {
    width: 695px;
}

#printContainer {
    width: 780px;
}

#printContainer2 {
    width: 780px;
}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
#header {
    width: 100%;
    height: auto;
    padding: auto;
}
    
#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding: auto;
    padding-left: 1.5em;
    padding-right: 4em;
    width: 100%;
    text-align: left;
    text-transform: none;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: .75em;
    padding-left: .75em;
    text-decoration: none;
    color: #fff;
}

#wrapper {
    padding-left: 20px;
}

.one {
    width: 700px;
}

#onOff {
    width: 595px;
}

#printContainer {
    width: 680px;
}

#printContainer2 {
    width: 680px;
}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    
#header {
    width: 100%;
    height: auto;
    padding-right: 0;
}
    
#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding-left: 2em;
    text-align: left;
    text-transform: none;
    width: auto%;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: 2.5px;
    padding-left: 2.5px;
    text-decoration: none;
    color: #fff;
}

.one {
    width: 650px;
}

#onOff {
    width: 545px;
}

#printContainer {
    width: 630px;
}

#printContainer2 {
    width: 630px;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
#header {
    width: 100%;
    height: auto;
    padding-right: 0;
}
    
#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding-left: 2em;
    text-align: left;
    text-transform: none;
    width: auto%;
    background: #D50017;
}

nav > ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: .2em;
    padding-left: .2px;
    text-decoration: none;
    color: #fff;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
#header {
    width: 100%;
    height: auto;
    padding-right: 0;
}
    
#header_image {
    width: 100%;
    height: auto;
}

nav {
    font-size: 1em;
    padding-left: 2em;
    text-align: left;
    text-transform: none;
    width: auto%;
    background: #D50017;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
    padding-right: .2em;
    padding-left: .2em;
    text-decoration: none;
    color: #fff;
}

#wrapper{
    width: 100%;
    padding-left: 10px;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    
#header {
    display: none ;
}
    
#header_image {
    display: none;
}
    
#moble-header {
    text-align: center;
    font-size: 1.5em;
    color: black;
    display: block;
    font-weight: bold;
    font-variant: small-caps;
    width: 415px;
}

nav {
    font-size: 1em;
    padding-left: 0;
    text-align: center;
    text-transform: none;
    width: 415px;
    background: #D50017;
}

nav ul li {
    display: block;
    padding: 2px 5px;
    padding-right: 0px;
    text-decoration: none;
    color: #fff;
    border-width: 1px;
    border-color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#moble-header {
    text-align: center;
    font-size: 1.5em;
    color: black;
    display: block;
    font-weight: bold;
    font-variant: small-caps;
}

nav ul li:hover {
    background-color: #9B0017;
    cursor: pointer;
    -webkit-transition: background-color 150ms ease;
    -moz-transition: background-color 150ms ease;
    -o-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
}

#wrapper {
    width: 415px;
    padding: 0px;
}

#wrapper > h1 {
    text-align: center;
    font-size: 1.5em;
    line-height: 5px;
}

.one {
    width: 415px;
    padding: 0;
    background-color:#2e2e2e;
    -moz-border-radius: 4px;
    border-radius: 4px; 
}

.one > .tabs{
    height: 30px;
    padding-bottom: 20px;
    overflow: hidden;
}

.one > .tabs > ul{
    font: 1em;
    list-style:none;
}

#onOff {
    border: none;
    width: 350px;
    min-height: 175px;
    padding: 5px;
    padding-bottom: 15px;
}

#printerMessages {
    float: left;
    vertical-align: top;
    border: 2px solid #a1a1a1;
    padding-top: 13px;
    padding-bottom: 40px;
    padding-left: 17px;
    background: black;
    width: 300px;
    max-height: 50px;
    border-radius: 25px;
    color: #0AE812;
    font-family: sans-serif;
    line-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#wifiPassword {
    margin-top: 12px;
    width: 50px;
}

#tonerLevel {
    margin-top: 12px;
    width: 50px;
}

h4 {
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
}

#printerButton {
    margin-top: 12px;
    margin-bottom:12px;
}

#printContainer {
    width: 415px;
    height: auto;
    vertical-align: top;
    border: 2px solid #a1a1a1;
    padding: 5px; 
    background: #FFF;
    border-radius: 25px;
    color: black;
    font-family: Junicode, serif;
    line-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#printContainer2 {
    width: 415px;
    height: auto;
    vertical-align: top;
    border: 2px solid #a1a1a1;
    padding: 5px; 
    background: #FFF;
    border-radius: 25px;
    color: black;
    font-family: Junicode, serif;
    line-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
